<span id="success_info"></span>
<center>
  <div>
    <%= form_for :session,:url=>"/sessions/user_code" do %>
    邮&nbsp;&nbsp;&nbsp;&nbsp; 箱： <input value="" id="anonymous" name="anonymous" />
    <input type="submit" value="确定"/>
    <% end %>
  </div>
  <div>
    &nbsp;&nbsp;&nbsp;
  </div>
  <div>
    获取密码第一步，请输入正确邮箱以便接收邮件更新密码！
  </div>
</center>
