<center>
<div class="reg_content">
  <div class="clear"></div>
  <p class="expForLoginEmail">忘记密码邮件已经发送到<span><%= @user.email %></span>，请查收</p>
  <% emailname = @user.email.split('@')[1] if @user%>
  <% name = emailname.split('.')[0] if emailname %>

  <% Constant::EMAILS.each do |key,value| %>
    <% if key.to_s == 'e'+name.to_s %>
      <div class="btn_box">
        <a href="<%= value[0].to_s %>" class="email_link" target="_blank">登录到<%= value[1].to_s %>邮箱</a>
      </div>
    <% end %>
  <% end %>
</div>
</center>