.bundle
db/*.sqlite3
log/*.log
tmp/
nbproject/*.*
config/database.yml     
public/papers/*.xml
public/excels/*.xls
public/paperjs/*.js
public/result/*.xml
public/unsubmited_excels/*.xls
public/upload_images/*.*
public/collections/*.xml