<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<h4>管理员,您好！有<font><%=@num  %></font>份新请求，请审核！</h4>
<br/>
----赶考<a href="http://www.gankao.co">www.gankao.co</a>----<br/>
(这是一封自动产生的email，请勿回复。)
