<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<h4><%= @user.name %>,您好！恭喜您成为赶考网VIP会员。您现在可以享受所有VIP特权。</h4>
<br/>
<br/>
----赶考<a href="http://www.gankao.co">www.gankao.co</a>----<br/>
(这是一封自动产生的email，请勿回复。)