<div class="main_box_back">
  <h2><span>请输入考试码</span></h2>
  <div class="in">
    <%= form_for :exam_passowrd ,:url=>"/user/examinations/#{params[:id]}/check_exam_pwd",
      :method=>:post, :html => {:class => "required-validate", :name => "exam_passowrd", :id => "exam_passowrd"} do |f|%>
      <div style="text-align: center;">
        考试码：<input type="password" name="exam_password" id="exam_password" class="required input_style" />
        <input type="submit" class="input_btn" value="确定"/>
      </div>
    <% end %>
  </div>
</div>