<center>
<div class="jh_erro">
 <p class="expForLoginEmail">注册激活链接无效！</p>
 <p class="erpResend">请不要重复激活，也许您已经激活，请<a href="/">登录</a>试试</p>
 <p class="erpResend">如果这是您第一次激活，请确认此链接与邮件中的激活链接一致</p>
</div>
</center>
