
    <script type="text/javascript">
      function tiaozhuan(){
        document.location.href='/';
      }
      function changepage(){
        setTimeout("tiaozhuan()",3000);
      }

    </script>    
  <body onload="changepage()">
    <center>
      <div class="reg_content">
        <div class="step_three"></div>
        <p class="expForLoginEmail">激活成功！</p>
        <p class="erpResend">欢迎您使用安居丽业网，即将自动跳转到登录页</p>
        <div class="btn_box">
          <a href="/">如果您的浏览器没有自动跳转，请点击这里</a>
        </div>
      </div>
    </center>
  </body>