<ul class="tab_biz">
  <li class="actived"><a href="#">2011年英语模拟试卷</a></li>
</ul>
<div class="soso">
  <div>试卷编号：101101</div>
  <div>录入：lifang</div>
  <div>出卷时间：2011-03-12 21:20:20</div>
  <div>总题数：20</div>
  <div>总分：100</div>
  <div>备注：第一部分为听力题，请大家把答题添在答题卡上，第二部分为选择题，第三部分为综合题，第四部分为......。</div>
  <div style="float: right">上午好！<img src="/images/clock.gif"/>&nbsp;&nbsp;00:00:13</div>
</div>
<h1 class="biz_art_title">一、单项选择题(共10题，每题5分)</h1>
<div class="biz_art_list_box">
  <ul>
    <li>
      <div class="products_list_style_box">
        <div class="arrow" style="top:35px;"></div>
        <div class="big_pic_box" style="top:0px;">
          <div class="in">
            <div class="title">Rodman met with Tony to try and __settle__ the dispute over his contract．[1分]</div>
            <div class="question">
              <div class="attr"><input type="radio" name="attr"/><label> A mark</label></div>
              <div class="attr"><input type="radio" name="attr"/><label> B involve</label></div>
              <div class="attr"><input type="radio" name="attr"/><label> C solve</label></div>
              <div class="attr"><input type="radio" name="attr"/><label> D avoid</label></div>
              <div class="show_tag">词汇 动词</div>
              <div class="clear"></div>
            </div>
            <div class="answer">我的答案：A</div>
          </div>
        </div>
      </div>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract</p>
      <a target="_blank" href="#"></a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#"></a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#"></a>
    </li>
  </ul>
</div>
<div class="clear"></div>
<h1 class="biz_art_title">二、多项选择题(共10题，每题5分)</h1>
<div class="biz_art_list_box">
  <ul>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#"></a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#"></a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#"></a>
    </li>
    <li>
      <input type="submit" value="检查" class="submit_btn" title="检查是不是所有的题目已经做完"/>
      <input type="submit" value="交卷" class="submit_btn" title="提交试卷"/>
    </li>
  </ul>
</div>


