<script type="text/javascript" src="/javascripts/plugin_assets/My97DatePicker/WdatePicker.js" ></script>
<ul class="new_biz">
  <li>2011年第一次数学模拟测试(注：此处也可以考虑页卡形式)</li>
</ul>
<div class="main_box_back">
  <h2><span>考试基本信息</span></h2>
  <div class="in">
    <div class="paper_base_info">考试基本属性</div>
    <div class="add_details">
      <div class="detail">考试是否开放：是&nbsp;&nbsp;</div>
      <div class="detail">考生是否能查看答卷：是&nbsp;&nbsp;</div>
      <div class="clear"></div>
    </div>
    <div class="add_details">
      <div class="detail">考试标题：2011年第一次数学模拟测试</div>
      <div class="detail"><a href="#">[重选试卷]</a></div>
      <div class="clear"></div>
    </div>
    <div class="add_details">
      <div>描述：本次考试由软件工程系**老师组织，考试范围为第一章到第十二章内容。</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="in">
    <div class="paper_base_info">考试时长设置</div>
    <div class="add_details">
      <div>是否限制考试时段：是</div>
      <div>考试开始于：2011-05-18 9：00</div>
      <div>考试时长：120分钟</div>
    </div>
  </div>
  <div class="in">
    <div class="paper_base_info">设置考试成绩等级</div>
    <div class="add_details">
      <div class="detail">成绩等级：</div>
      <div class="detail">
        100-90  优秀&nbsp;&nbsp;&nbsp;&nbsp;
        89-80 良好&nbsp;&nbsp;&nbsp;&nbsp;
        79-60 通过&nbsp;&nbsp;&nbsp;&nbsp;
        59- 不通过
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="in">
    <input type="submit" value="编辑" class="submit_btn" title="编辑基本信息"/>
  </div>
</div>
<div class="clear">&nbsp;</div>
<div class="main_box_back">
  <h2><span>考生信息</span></h2>
  <div class="in">
    <div class="add_details">
      <font color="red">*</font>
      选择添加考生信息方式：<input type="radio" checked="true"/>录入&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio"/>导入
    </div>
    <div class="add_details">
      <font color="red">*</font>
      选择是否需要考生确认信息：<input type="radio" checked="true"/>是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio"/>否
    </div>
    <div class="add_details">
      <font color="red">*</font>
      选择是否要生成考试码：<input type="radio" checked="true"/>是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio"/>否
      <span>&nbsp;&nbsp;&nbsp;（考试码只提供给监考老师，当考生来参加考试的时候，监考老师要输入考试码，考生才能考试）</span>
    </div>
  </div>
  <div class="in">
    <table>
      <colgroup>
        <col width="100"/>
        <col width="120" />
        <col width="120" />
        <col width="60"/>
      </colgroup>
      <thead>
        <tr>
          <th>姓名</th>
          <th>手机号码</th>
          <th>email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>张三</td>
          <td>zhangsan@hotmail.com</td>
          <td>13234567898</td>
          <td><a href="#">编辑</a>&nbsp;|&nbsp;<a href="#">删除</a></td>
        </tr>
        <tr>
          <td>李四</td>
          <td>lisi@126.com</td>
          <td>13445678908</td>
          <td><a href="#">编辑</a>&nbsp;|&nbsp;<a href="#">删除</a></td>
        </tr>
        <tr>
          <td>王五</td>
          <td>wangwu@gmail.com</td>
          <td>18912345654</td>
          <td><a href="#">编辑</a>&nbsp;|&nbsp;<a href="#">删除</a></td>
        </tr>
        <tr>
          <td colspan="4"><a href="#">追加</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="in">
    <div class="paper_base_info">导入考生信息</div>
    <div class="add_details">
      <div class="detail">按右边格式填入信息：</div>
      <div class="detail">姓名<font color="red">[tab键]</font>邮箱<font color="red">[tab键]</font>手机号码</div>
      <div class="clear"></div>
    </div>
    <div class="add_details">
      <div class="detail">&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="detail">
        <textarea cols="50" rows="6" class="textarea_style">小明  zhangsan@hotmail.com  13234567898
小张  lisi@126.com  13445678908
小王  wangwu@gmail.com  18912345654</textarea>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="in">
    <input type="submit" value="更新" class="submit_btn" title="更新考生信息"/>
  </div>
</div>
<div class="clear">&nbsp;</div>
<div class="main_box_back">
  <h2><span>阅卷老师信息</span></h2>
  <div class="in">
    <table>
      <colgroup>
        <col width="220"/>
        <col width="220" />
        <col width="220" />
      </colgroup>
      <thead>
        <tr>
          <th>姓名</th>
          <th>手机号码</th>
          <th>email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>张老师</td>
          <td>zhangsan@hotmail.com</td>
          <td>13234567898</td>
        </tr>
        <tr>
          <td>李老师</td>
          <td>lisi@126.com</td>
          <td>13445678908</td>
        </tr>
        <tr>
          <td>王老师</td>
          <td>wangwu@gmail.com</td>
          <td>18912345654</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="in">
    <input type="submit" value="编辑" class="submit_btn" title="编辑阅卷信息"/>
  </div>
</div>