<ul class="new_biz">
  <li>2011年第一次数学模拟测试(注：此处也可以考虑页卡形式)</li>
</ul>
<div class="main_box_back">
  <h2><span>成绩列表</span><div class="right"><a href="#">导出成绩</a></div></h2>
  <div class="in">
    <div class="exam_result_div">
      <div class="paper_base_info">考试基本信息</div>
      <div>考试标题：2011年第一次数学模拟测试</div>
      <div>考试类型：模拟</div>
      <div>考试开始于：2011-05-18 9：00</div>
      <div>考试时长：120分钟</div>
      <div>描述：本次考试由软件工程系**老师组织，考试范围为第一章到第十二章内容。</div>
    </div>
    <div class="add_details">
      <div class="detail">考生人数：50人</div>
      <div class="detail">优秀：10人</div>
      <div class="detail">良好：20人</div>
      <div class="detail">通过：18人</div>
      <div class="detail">不通过：2人</div>
      <div class="clear"></div>
    </div>

    <table>
      <colgroup>
        <col width="120"/>
        <col width="140" />
        <col width="120" />
        <col width="100"/>
        <col width="80"/>
        <col width="80"/>
        <col width=""/>
      </colgroup>
      <thead>
        <tr>
          <th>姓名</th>
          <th>email</th>
          <th>手机号码</th>
          <th>是否参加考试</th>
          <th>得分&nbsp;&nbsp;<img src="/images/triangle_down.gif" width="8" height="8"/></th>
          <th>等级&nbsp;&nbsp;<img src="/images/triangle_up.gif" width="8" height="8"/></th>
          <th>答卷</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>张三</td>
          <td>zhangsan@hotmail.com</td>
          <td>13234567898</td>
          <td>是</td>
          <td>90</td>
          <td>优秀</td>
          <td><a href="#">查看</a></td>
        </tr>
        <tr>
          <td>李四</td>
          <td>lisi@126.com</td>
          <td>13445678908</td>
          <td>是</td>
          <td>87</td>
          <td>良好</td>
          <td><a href="#">查看</a></td>
        </tr>
        <tr>
          <td>王五</td>
          <td>wangwu@gmail.com</td>
          <td>18912345654</td>
          <td>否</td>
          <td>无</td>
          <td>无</td>
          <td>无</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination_box">
      <div class="pagination"><span class="disabled prev_page">«</span> <span class="current">1</span><a rel="next" href="/app/houses?page=2">2</a><span class="gap">…</span> <a href="/app/houses?page=3">3</a> <a href="/app/houses?page=4">4</a> <a href="/app/houses?page=5">5</a> <a href="/app/houses?page=6">6</a> <a href="/app/houses?page=7">7</a> <a href="/app/houses?page=8">8</a> <a href="/app/houses?page=9">9</a><a href="/app/houses?page=9">9</a><a href="/app/houses?page=9">9</a> <span class="gap">…</span> <a href="/app/houses?page=63">63</a> <a href="/app/houses?page=64">64</a> <a rel="next" class="next_page" href="/app/houses?page=2">»</a></div>
    </div>
  </div>
</div>