<div class="rater_login">
  <table>
    <tr>
      <td colspan="2">用户您好！请您输入您的邮箱地址，以便我们核实您的信息，显示目前公开的考试成绩，<br/>如果您是我们赶考的用户，可以输入您的密码查看您所有的考试记录。</td>
    </tr>
    <tr>
      <td align="right"><font color="red">*</font>邮箱：</td>
      <td><input class="input_style" id="user_eamil" name="eamil" size="30" type="password" /><span id="eamilErr"></span></td>
    </tr>
    <tr>
      <td align="right">密码：</td>
      <td><input class="input_style" id="user_password" name="password" size="30" type="password" /><span id="passwordErr"></span></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="提交" class="submit_btn" title="编辑个人信息"/></td>
    </tr>
  </table>
</div>
