<div class="main_box_back">
  <h2><span>试卷列表</span><div class="right"><a href="#">新建试卷</a>|&nbsp;&nbsp;<a href="#">创建考试</a></div></h2>
  <div class="in">
    <div class="paper_search">
      试卷分类：
      <select>
        <option>--请选择--</option>
      </select>
      &nbsp;&nbsp;&nbsp;&nbsp;创建时间：
      从&nbsp;<input class="input_style" type="text" />&nbsp;
      到&nbsp;<input class="input_style" type="text" />
      <div class="clear"></div>
      试卷标题<input class="input_style" type="text" size="60" />&nbsp;&nbsp;
      <button type="submit">查询</button>
    </div>
    <div class="clear"></div>
    <table>
      <colgroup>
        <col width="20"/>
        <col width="60" />
        <col width="210" />
        <col width="60" />
        <col width="80" />
        <col width="60" />
        <col width="240" />
        <col width="" />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>试卷编号</th>
          <th>标题</th>
          <th>所属分类</th>
          <th>创建日期</th>
          <th>试题数</th>
          <th>备注</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" name="checkbox"/></td>
          <td>1011</td>
          <td>2011英语模拟试题</td>
          <td>英语试卷</td>
          <td>2010-09-08</td>
          <td>20</td>
          <td></td>
          <td><a href="#">查看&nbsp;|&nbsp;删除</a></td>
        </tr>
        <tr>
          <td><input type="checkbox" name="checkbox"/></td>
          <td>1011</td>
          <td>2011英语模拟试题</td>
          <td>英语试卷</td>
          <td>2010-09-08</td>
          <td>20</td>
          <td></td>
          <td><a href="#">查看&nbsp;|&nbsp;删除</a></td>
        </tr>
        <tr>
          <td class="allselect_box" colspan="8">
            <input type="checkbox" />&nbsp;&nbsp;全选&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除选中试卷</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination_box">
      <div class="pagination"><span class="disabled prev_page">«</span> <span class="current">1</span><a rel="next" href="/app/houses?page=2">2</a><span class="gap">…</span> <a href="/app/houses?page=3">3</a> <a href="/app/houses?page=4">4</a> <a href="/app/houses?page=5">5</a> <a href="/app/houses?page=6">6</a> <a href="/app/houses?page=7">7</a> <a href="/app/houses?page=8">8</a> <a href="/app/houses?page=9">9</a><a href="/app/houses?page=9">9</a><a href="/app/houses?page=9">9</a> <span class="gap">…</span> <a href="/app/houses?page=63">63</a> <a href="/app/houses?page=64">64</a> <a rel="next" class="next_page" href="/app/houses?page=2">»</a></div>
    </div>
  </div>
</div>
