
<ul class="tab_biz">
  <li class="actived"><a href="#">2011年英语模拟试卷</a></li>
</ul>
<div class="soso">
  <div>编号：101101</div>
  <div>标题：<input type="text" class="input_style" name="title" value="2011年英语模拟试卷" size="65"/></div>
  <div>备注：
    <textarea cols="69" rows="4" class="textarea_style">第一部分为听力题，请大家把答题添在答题卡上，第二部分为选择题，第三部分为综合题，第四部分为......。</textarea>
  </div>
  <input type="submit" value="更新" class="submit_btn"/>
</div>
<div class="title_list_style_box">
  <div class="arrow" style="top:35px;"></div>
  <div class="block_pic_box" style="top:0px;">
    <div class="in">
      <div class="paper_block">
        试卷模块标题：<input type="text" class="input_style" name="block" size="39" value="一、单项选择题"/>
      </div>
      <div class="paper_block">
        试卷模块备注：<textarea cols="37" rows="3" class="textarea_style" name="block_desc">共10题，总分10分</textarea>
      </div>
      <div><input type="submit" value="更新" class="submit_btn"/></div>
    </div> 
  </div>
</div>
<div class="question_list_style_box">
  <div class="arrow" style="top:35px;"></div>
  <div class="question_pic_box" style="top:0px;">
    <div class="in">
      <div class="title">题面：</div>
      <textarea name="title" cols="45" rows="3" class="textarea_style"></textarea>
      <div class="title">题面类型：</div>
      <div class="type"><input type="radio" name="type" /> 单选题</div>
      <div class="type"><input type="radio" name="type" /> 多选题</div>
      <div class="type"><input type="radio" name="type" /> 判断题</div>
      <div class="type"><input type="radio" name="type" /> 完形填空题</div>
      <div class="type"><input type="radio" name="type" /> 综合题</div>
      <div class="clear"></div>
      <div class="title">选项：<div class="chose_add"><a href="#">增加选项</a></div></div>
      <div class="clear"></div>
      <div class="question">
        <div class="attr">A <input type="text" name="chose" class="input_style" value="" /><a href="#">删除</a></div>
        <div class="attr">B <input type="text" name="chose" class="input_style" value="" /><a href="#">删除</a></div>
        <div class="attr">C <input type="text" name="chose" class="input_style" value="" /><a href="#">删除</a></div>
        <div class="attr">D <input type="text" name="chose" class="input_style" value="" /><a href="#">删除</a></div>
      </div>
      <div class="answer">答案：<input type="text" name="chose" class="input_style" value="" size="40" /></div>
      <div class="answer">分值：<input type="text" name="chose" class="input_style" value="" /> 分</div>
      <div class="title">评分规则：</div>
      <textarea name="title" cols="45" rows="3" class="textarea_style"></textarea>
      <input type="submit" value="提交" class="submit_btn"/>
    </div>
  </div>
</div>
<h1 class="biz_art_title">一、单项选择题(共10题，总分10分)<a href="#">[编辑]</a><a href="#">[添加题目]</a></h1>
<div class="biz_art_list_box">
  <ul>
    <li>
      <div class="products_list_style_box" style="display:none;">
        <div class="arrow" style="top:35px;"></div>
        <div class="big_pic_box" style="top:0px;">
          <div class="in">
            <div class="title">Rodman met with Tony to try and __settle__ the dispute over his contract．[1分]</div>
            <div class="question">
              <div class="attr"><input type="radio" name="attr"/><label> A mark</label></div>
              <div class="attr"><input type="radio" name="attr"/><label> B involve</label></div>
              <div class="attr"><input type="radio" name="attr"/><label> C solve</label></div>
              <div class="attr"><input type="radio" name="attr"/><label> D avoid</label></div>
            </div>
            <div class="answer">我的答案：A</div>
            <div>-------------------------------------------------------------------------------------</div>
            <div class="title">题面：</div>
            <textarea name="title" cols="45" rows="3" class="textarea_style">Rodman met with Tony to try and __settle__ the dispute over his contract．</textarea>
            <div class="title">题面类型：</div>
            <div class="type"><input type="radio" name="type" /> 单选题</div>
            <div class="type"><input type="radio" name="type" /> 多选题</div>
            <div class="type"><input type="radio" name="type" /> 判断题</div>
            <div class="type"><input type="radio" name="type" /> 完形填空题</div>
            <div class="type"><input type="radio" name="type" /> 综合题</div>
            <div class="clear"></div>
            <div class="title">选项：<div class="chose_add"><a href="#">增加选项</a></div></div>
            <div class="clear"></div>
            <div class="question">
              <div class="attr">A <input type="text" name="chose" class="input_style" value="mark" /><a href="#">删除</a></div>
              <div class="attr">B <input type="text" name="chose" class="input_style" value="involve" /><a href="#">删除</a></div>
              <div class="attr">C <input type="text" name="chose" class="input_style" value="solve" /><a href="#">删除</a></div>
              <div class="attr">D <input type="text" name="chose" class="input_style" value="avoid" /><a href="#">删除</a></div>
            </div>
            <div class="answer">答案：<input type="text" name="chose" class="input_style" value="A" /></div>
            <div class="answer">分值：<input type="text" name="chose" class="input_style" value="1" size="5" /> 分</div>
            <div class="title">评分规则：</div>
            <textarea name="title" cols="45" rows="3" class="textarea_style">本题共3个答案，共3分，漏选同样给分，答对一个给1分，答对两个给2分，选错0分。</textarea>
            <input type="submit" value="提交" class="submit_btn"/>
          </div>
        </div>
      </div>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract</p>
      <a href="#">查看&nbsp;|&nbsp;编辑&nbsp;|&nbsp;删除</a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a href="#">查看&nbsp;|&nbsp;编辑&nbsp;|&nbsp;删除</a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a href="#">查看&nbsp;|&nbsp;编辑&nbsp;|&nbsp;删除</a>
    </li>

  </ul>

</div>
<div class="clear"></div>
<h1 class="biz_art_title">二、多项选择题(共10题，总分30分)<a href="#">[编辑]</a><a href="#">[添加题目]</a></h1>
<div class="biz_art_list_box">
  <ul>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#">查看&nbsp;|&nbsp;编辑&nbsp;|&nbsp;删除</a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#">查看&nbsp;|&nbsp;编辑&nbsp;|&nbsp;删除</a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#">查看&nbsp;|&nbsp;编辑&nbsp;|&nbsp;删除</a>
    </li>
  </ul>
</div>