<ul class="new_biz">
  <li>2011年第一次数学模拟测试</li>
</ul>
<div class="main_box_back">
  <h2><span>阅卷列表</span><div class="right"><a href="#" title="随机抽取一份试卷开始批阅">开始批阅</a></div></h2>
  <div class="in">
    <div class="exam_result_div">
      <div class="paper_base_info">考试基本信息</div>
      <div>考试标题：2011年第一次数学模拟测试</div>
      <div>考试类型：模拟</div>
      <div>考试开始于：2011-05-18 9：00</div>
      <div>考试时长：120分钟</div>
      <div>描述：本次考试由软件工程系**老师组织，考试范围为第一章到第十二章内容。</div>
    </div>
    <div class="add_details">     
      <div class="detail">试卷数量：<font color="red">30份</font></div>
      <div class="detail">您已经批阅的数量：<font color="red">23份</font></div>
      <div class="detail">您未批阅的数量：<font color="red">7份</font></div>
      <div class="clear"></div>
    </div>

    <table>
      <colgroup>
        <col width="220"/>
        <col width="240" />
        <col width="180"/>
        <col width=""/>
      </colgroup>
      <thead>
        <tr>
          <th>试卷编号</th>
          <th>是否批阅</th>
          <th>得分</th>
          <th>答卷</th>
        </tr>
      </thead>
      <tbody>
        <tr class="ever">
          <td>110011</td>
          <td>已批阅</td>
          <td>30</td>
          <td><a href="#">查看</a></td>
        </tr>
        <tr class="ever">
          <td>110013</td>
          <td>已批阅</td>
          <td>23</td>
          <td><a href="#">查看</a></td>
        </tr>
        <tr class="never">
          <td>110012</td>
          <td>未批阅</td>
          <td>无</td>
          <td><a href="#">批阅</a></td>
        </tr>
        <tr class="never">
          <td>110014</td>
          <td>未批阅</td>
          <td>无</td>
          <td><a href="#">批阅</a></td>
        </tr>
        <tr class="never">
          <td>110015</td>
          <td>未批阅</td>
          <td>无</td>
          <td><a href="#">批阅</a></td>
        </tr>
      </tbody>
    </table>
    <div class="pagination_box">
      <div class="pagination"><span class="disabled prev_page">«</span> <span class="current">1</span><a rel="next" href="/app/houses?page=2">2</a><span class="gap">…</span> <a href="/app/houses?page=3">3</a> <a href="/app/houses?page=4">4</a> <a href="/app/houses?page=5">5</a> <a href="/app/houses?page=6">6</a> <a href="/app/houses?page=7">7</a> <a href="/app/houses?page=8">8</a> <a href="/app/houses?page=9">9</a><a href="/app/houses?page=9">9</a><a href="/app/houses?page=9">9</a> <span class="gap">…</span> <a href="/app/houses?page=63">63</a> <a href="/app/houses?page=64">64</a> <a rel="next" class="next_page" href="/app/houses?page=2">»</a></div>
    </div>
  </div>
</div>