<div class="rater_login">
  <table>
    <tr>
      <td colspan="2">尊敬的李阳老师，您好！请您在阅卷之前输入您的阅卷码，便于我们确认您的身份。</td>
    </tr>
    <tr>
      <td align="right"><font color="red">*</font>阅卷码：</td>
      <td><input class="input_style" id="user_password" name="password" size="30" type="password" /><span id="passwordErr"></span></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="提交" class="submit_btn" title="编辑个人信息"/></td>
    </tr>
  </table>
</div>
