<ul class="tab_biz">
  <li class="actived"><a href="#">2011年英语模拟试卷</a></li>
</ul>
<div class="soso">
  <div>试卷编号：101101</div>
  <div>录入：lifang</div>
  <div>出卷时间：2011-03-12 21:20:20</div>
  <div>总题数：20</div>
  <div>总分：100</div>
  <div>备注：第一部分为听力题，请大家把答题添在答题卡上，第二部分为选择题，第三部分为综合题，第四部分为......。</div>
  <div class="clear"></div>
</div>
<h1 class="biz_art_title">二、多项选择题(共10题，每题5分)</h1>
<div class="biz_art_list_box">
  <ul>
    <li>
      <div class="products_list_style_box">
        <div class="arrow" style="top:35px;"></div>
        <div class="big_pic_box" style="top:0px;">
          <div class="in">
            <div class="title">Rodman met with Tony to try and __settle__ the dispute over his contract．[5分]</div>
            <div class="question">
              <div class="attr"><input type="checkbox" name="attr" readonly/><label> A mark</label></div>
              <div class="attr"><input type="checkbox" name="attr" readonly/><label> B involve</label></div>
              <div class="attr"><input type="checkbox" name="attr" readonly/><label> C solve</label></div>
              <div class="attr"><input type="checkbox" name="attr" readonly/><label> D avoid</label></div>
              <div class="show_tag">词汇 动词</div>
              <div class="clear"></div>
            </div>
            <div class="my_answer">考生答案：A</div>
            <div class="answer">正确答案：ABC</div>
            <div class="tag">本题得分：
              <span class="tag_input"><input type="text" name="tag" class="input_style" value="" size="20"/></span>
            </div>
            <div class="clear"></div>
            <div class="answer">评分规则：</div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;本道题共3个答案，选中一个给2分，选中两个给4分，全部选中得5分，选错一个为0分</div>
          </div>
        </div>
      </div>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract</p>
      <a target="_blank" href="#"></a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#"></a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#"></a>
    </li>
    <li>
      <input type="submit" value="已阅，下一份" class="submit_btn"/>
    </li>
  </ul>
</div>
<div class="clear"></div>
