<ul class="tab_biz">
  <li class="actived"><a href="#">2011年英语模拟试卷</a></li>
</ul>
<div class="soso">
  <div>试卷编号：101101</div>
  <div>录入：lifang</div>
  <div>出卷时间：2011-03-12 21:20:20</div>
  <div>总题数：20</div>
</div>
<h1 class="biz_art_title">一、单项选择题</h1>
<div class="biz_art_list_box">
  <ul>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract</p>
      <a target="_blank" href="#">查看&nbsp;|&nbsp;编辑</a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#">查看&nbsp;|&nbsp;编辑</a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#">查看&nbsp;|&nbsp;编辑</a>
    </li>
  </ul>
</div>
<div class="clear"></div>
<h1 class="biz_art_title">二、多项选择题</h1>
<div class="biz_art_list_box">
  <ul>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#">查看&nbsp;|&nbsp;编辑</a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#">查看&nbsp;|&nbsp;编辑</a>
    </li>
    <li>
      <h2><a target="_blank" href="#">Rodman met with Tony to try and __settle__ the dispute over his contract</a></h2>
      <p>Rodman met with Tony to try and __settle__ the dispute over his contract......</p>
      <a target="_blank" href="#">查看&nbsp;|&nbsp;编辑</a>
    </li>
  </ul>
</div>


