<script type="text/javascript" src="/javascripts/plugin_assets/My97DatePicker/WdatePicker.js" ></script>
<div class="main_box_back">
  <h2><span>考试导航</span></h2>
  <div class="in">
    <div class="paper_search">
      考试分类：
      <select>
        <option>--请选择--</option>
      </select>
      &nbsp;&nbsp;&nbsp;&nbsp;创建时间：
      从&nbsp;<input class="input_style" type="text" onClick="WdatePicker();" readonly/>&nbsp;
      到&nbsp;<input class="input_style" type="text" onClick="WdatePicker();" readonly/>
      <div class="clear"></div>
      考试标题：<input class="input_style" type="text" size="60" />&nbsp;&nbsp;
      <button type="submit">查询</button>
    </div>
    <div class="clear"></div>
    <table>
      <colgroup>
        <col width="100" />
        <col width="130" />
        <col width="120" />
        <col width="120" />
        <col width="80" />
        <col width="60" />
        <col width="70" />
        <col width="" />
      </colgroup>
      <thead>
        <tr>
          <th>考试名称</th>
          <th>考试分类</th>
          <th>考试开始时间</th>
          <th>创建日期</th>
          <th>总分</th>
          <th>总题数</th>
          <th>创建人</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2011摸底测试</td>
          <td>模拟考试</td>
          <td>2011-05-18 9:00</td>
          <td>2011-05-03</td>
          <td>100</td>
          <td>30</td>
          <td>santhe</td>
          <td>
            <a href="#">查看</a>&nbsp;|&nbsp;<a href="#">报名考试</a>
          </td>
        </tr>
        <tr>
          <td>2010摸底测试</td>
          <td>模拟考试</td>
          <td>2011-05-18 9:00</td>
          <td>2011-05-03</td>
          <td>100</td>
          <td>30</td>
          <td>santhe</td>
          <td>
            <a href="#">查看</a>&nbsp;|&nbsp;<a href="#">报名考试</a>
          </td>
        </tr>
        <tr>
          <td>2009摸底测试</td>
          <td>模拟考试</td>
          <td>2011-05-18 9:00</td>
          <td>2011-05-03</td>
          <td>100</td>
          <td>30</td>
          <td>santhe</td>
          <td>
            <a href="#">查看</a>&nbsp;|&nbsp;<a href="#">报名考试</a>
          </td>
        </tr>
        <tr>
          <td>2008摸底测试</td>
          <td>模拟考试</td>
          <td>2011-05-18 9:00</td>
          <td>2011-05-03</td>
          <td>100</td>
          <td>30</td>
          <td>santhe</td>
          <td>
            <a href="#">查看</a>&nbsp;|&nbsp;<a href="#">报名考试</a>
          </td>
        </tr>
        <tr>
          <td>2007摸底测试</td>
          <td>模拟考试</td>
          <td>2011-05-18 9:00</td>
          <td>2011-05-03</td>
          <td>100</td>
          <td>30</td>
          <td>santhe</td>
          <td>
            <a href="#">查看</a>&nbsp;|&nbsp;<a href="#">报名考试</a>
          </td>
        </tr>
        <tr>
          <td>2006摸底测试</td>
          <td>模拟考试</td>
          <td>2011-05-18 9:00</td>
          <td>2011-05-03</td>
          <td>100</td>
          <td>30</td>
          <td>santhe</td>
          <td>
            <a href="#">查看</a>&nbsp;|&nbsp;<a href="#">报名考试</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination_box">
      <div class="pagination"><span class="disabled prev_page">«</span> <span class="current">1</span><a rel="next" href="/app/houses?page=2">2</a><span class="gap">…</span> <a href="/app/houses?page=3">3</a> <a href="/app/houses?page=4">4</a> <a href="/app/houses?page=5">5</a> <a href="/app/houses?page=6">6</a> <a href="/app/houses?page=7">7</a> <a href="/app/houses?page=8">8</a> <a href="/app/houses?page=9">9</a><a href="/app/houses?page=9">9</a><a href="/app/houses?page=9">9</a> <span class="gap">…</span> <a href="/app/houses?page=63">63</a> <a href="/app/houses?page=64">64</a> <a rel="next" class="next_page" href="/app/houses?page=2">»</a></div>
    </div>
  </div>
</div>
