<%  @exam_list.each do |exam| %>
<% examination=Examination.find(exam.examination_id) %>
<table>
  <tr>
    <td width="200"><%= link_to "#{examination.title}","/rater/exam_raters/#{exam.id}/rater_session?examination=#{examination.id}" %></td>
     <td width="200"><%= examination.description %></td>
      <td width="150"><%= exam.name %></td>
       <td width="150"><%= exam.author_code %></td>
  </tr>
</table>
<% end %>
