<div id="new_module" style="display:none">
  <h1 class="biz_art_title">添加新的模块</h1>

  <div class="biz_art_list_box">
    <% form_for :module ,:url=>"/papers/create_step_two"  do |f|%>
    <%= f.hidden_field :paper_id ,:value=>@paper.id %>
      <ul>
        <li>
          <div class="add_details">
            模块标题：<%= f.text_field :title ,:class=>"input_style",:size=>"70" %>
            <div style="padding-left:60px;">请输入模块的标题，长度为1~30个字</div>
          </div>
          <div class="add_details">
            <div class="detail">描述：</div>
            <div class="detail"><%= f.text_area :description ,:cols=>"70",:rows=>"4",:class=>"textarea_style" %></div>
            <div class="detail" style="padding-left:60px;">请填写对试卷模块必要的一些文字描述</div>
          </div>
          <div class="clear"></div>
          <%= f.submit "提交" ,:class=>"submit_btn",:onClick=>"javascript:close_new_module();" %><input type="button" value="取消" class="submit_btn" onClick="javascript:close_new_module()">
        </li>
     
      </ul>
    <% end %>
  </div>
  </div>