
<ul class="new_biz">
  <li>添加试卷</li>
</ul>
<div class="main_box_back">
  <h2><span>添加试卷</span><div class="right"><%= link_to "返回试卷列表","/papers" %></div></h2>
  <div class="in">
    <div class="paper_base_info">试卷基本信息<span>（为您的试卷添加一些基本的信息）</span></div>
    <% form_for :paper ,:url=>"/papers/create" do |f|%>
      <div class="add_details">
        <font color="red">*</font>
        <%= f.text_field :title,:value=>"2011 ruby examination" %>
        <span>&nbsp;请输入试卷标题，长度为1~30个字</span>
      </div>
      <div class="add_details">
        <div class="detail">&nbsp;&nbsp;&nbsp;描述：</div>
        <div class="detail"><%= f.text_area :describe ,:size=>"40"%></div>
        <div class="detail">&nbsp;&nbsp;请填写对试卷必要的一些文字描述</div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="in"><input type="submit" value="下一步" class="submit_btn"/></div>
  <% end %>
</div>
<br/>
<div class="main_box_back">
  <h2><span>添加模块（为您的试卷设置一个基本的模块，如："一、单选题；二、多选题；三、简答题"）</span><div class="right"><%= link_to "返回试卷列表","/papers" %></div></h2>
  <div class="clear"></div>
  <div class="in">
    <div class="paper_base_info">试卷模块<span>（为您的试卷设置第一个基本的模块，如："一、单选题；二、多选题；三、简答题"）</span></div>
    <div class="add_details">
      模块标题：<input type="text" class="input_style" name="title" value="" size="65"/>
      <span>&nbsp;请输入模块的标题，长度为1~30个字</span>
    </div>
    <div class="add_details">
      <div class="detail">&nbsp;&nbsp;&nbsp;描述：</div>
      <div class="detail"><textarea cols="69" rows="4" class="textarea_style"></textarea></div>
      <div class="detail">&nbsp;&nbsp;请填写对试卷模块必要的一些文字描述</div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="in"><input type="submit" value="下一步" class="submit_btn"/></div>
</div>
