题目分类：<%= render :partial => "/common/categories" %>
&nbsp;&nbsp;&nbsp;&nbsp;创建时间：
从&nbsp;<input class="input_style" type="text" onClick="WdatePicker();" readonly name="mintime" id="mintime" value="" />&nbsp;
到&nbsp;<input class="input_style" type="text" onClick="WdatePicker();" readonly name ="maxtime" id ="maxtime" value=""  />
<div class="clear"></div>
题目类型：<select name="type"><option value="">-请选择-</option><option value=0>单选题</option><option value=1>多选题</option><option value=2>判断题</option><option value=3>填空题</option><option value=4>综合题</option><option value=5>简答题</option></select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题目标签&nbsp;&nbsp; &nbsp;&nbsp;<input class="input_style" name="tag" id="title" value="" size="40"/>
&nbsp;&nbsp;&nbsp;&nbsp;<%= submit_tag "查询",:title=>nil %>