<table>
<colgroup>
  <col width="220"/>
  <col width="220" />
  <col width="220" />
</colgroup>
<thead>
  <tr>
    <th>姓名</th>
    <th>手机号码</th>
    <th>email</th>
  </tr>
</thead>
<tbody>
  <% if @examination.exam_raters.blank? %>
    <tr>
      <td align="center" colspan="3">暂无批卷老师，您可以在 <a href="#">这里</a> 添加批卷老师</td>
    </tr>
  <% else %>
    <% @examination.exam_raters.each do |exam_rater| %>
      <tr>
        <td>张老师</td>
        <td>zhangsan@hotmail.com</td>
        <td>13234567898</td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>