<div class="answer">
  答案：<textarea cols="45" rows="3" id="problem_answer" name="problem[answer]"></textarea>
</div>
<div class="answer">
  分值：<%= text_field_tag :id => "problem_score",:name => "problem[score]" ,:class=>"input_style"%>
</div>
<div class="title">解析：</div>
<textarea cols="45" rows="3" id="problem_rule" name="problem[rule]"></textarea>