
<div class="in">
  <div class="paper_base_info">试卷基本信息<span>（为您的试卷添加一些基本的信息）</span></div>
  <div class="add_details">
    <font color="red">*</font>
    试卷标题： <input name="title" class = "required input_style max-length-50"   value="" size = "65" />
    <span>&nbsp;请输入试卷标题，长度为1~30个字</span>
  </div>
  <div class="add_details">
    <font color="red">*</font>试卷分类：<%= render :partial => "/common/categories" %>
  </div>
  <div class="add_details">
    <div class="detail">&nbsp;&nbsp;&nbsp;描述：</div>
    <div class="detail">
      <textarea rows="4" cols="69" name="description" class = "textarea_style max-length-100"></textarea>
    </div>
    <div class="detail">&nbsp;&nbsp;请填写对试卷必要的一些文字描述</div>
  </div>
  <div class="clear"></div>
</div>

