题目类型：<select name="type" id="select_<%= problem_types %>">
  <option value="">-请选择-</option>
  <option value="0">单选题</option>
  <option value="1">多选题</option>
  <option value="2">判断题</option>
  <option value="3">填空题</option>
  <option value="4">综合题</option>
  <option value="5">简答题</option>
</select>